:root {
    --background-color: #0A090F;
    --border-radius: 6px;
    --stroke-color: #333333;
    --card-background-color: #2626264a;
    --red-color: #EB0000;
    --blue-color: #1491FF;
    --text-color: #a3a3a3;
    --montserrat-font: 'Montserrat', sans-serif;
    --geist-mono-font: 'Geist Mono', sans-serif;
    --roboto-mono-font: 'Roboto Mono', sans-serif;
    --text-light-weight: lighter;
    --text-semi-bold: 600;
    --text-black-weight: 900;
    --text-regular: 400;
    --text-bold: bold;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    height: 100vh;
    height: 100dvh;
    width: 100vw;
    width: 100dvw;
    background-color: var(--background-color);
    font-family: var(--geist-mono-font);
    scroll-behavior: smooth;
}

.intro-wrapper {
    position: relative;
}

.intro-wrapper,
.intro-wrapper .hero-wrapper,
.intro-wrapper .hero-wrapper .profile-hero,
.intro-wrapper .hero-wrapper .profile-hero .profile-hero-left,
.intro-wrapper .hero-wrapper .profile-hero .profile-hero-left .profile-image-card-wrapper {
    overflow: visible;
}

.intro-wrapper .hero-wrapper {
    display: flex;
    flex-direction: column;
}

.intro-wrapper .hero-wrapper .hero-header-wrapper {
    display: flex;
    flex-direction: column;
    line-height: 1;
}

.intro-wrapper .hero-wrapper .hero-header-wrapper .is-first {
    color: #fff;
    height: 96px;
}

.intro-wrapper .hero-wrapper .hero-header-wrapper .is-first h1 {
    height: 100%;
    font-family: var(--montserrat-font);
    font-weight: var(--text-black-weight);
    margin-top: 3rem;
    white-space: nowrap;
}

.intro-wrapper .hero-wrapper .hero-header-wrapper .is-first div {
    font-size: clamp(0.8rem, 2.5vw, 1rem);
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-family: var(--geist-mono-font);
    letter-spacing: 0.3rem;
    white-space: nowrap;
}

.intro-wrapper .hero-wrapper .hero-header-wrapper .is-middle {
    height: 100%;
    font-family: var(--montserrat-font);
    font-weight: var(--text-black-weight);
    color: #fff;
}

.intro-wrapper .hero-wrapper .hero-header-wrapper .is-last {
    height: 100%;
    font-family: var(--montserrat-font);
    font-weight: var(--text-black-weight);
    color: var(--red-color);
    display: flex;
    justify-content: center;
    margin-left: 25rem;
}

.intro-wrapper .hero-wrapper .hero-header-wrapper .is-first h1,
.intro-wrapper .hero-wrapper .hero-header-wrapper .is-middle,
.intro-wrapper .hero-wrapper .hero-header-wrapper .is-last {
    font-size: 4rem;
}

.intro-wrapper .hero-wrapper .profile-hero {
    display: flex;
    height: 60vh;
}

.intro-wrapper .hero-wrapper .profile-hero .profile-hero-left,
.intro-wrapper .hero-wrapper .profile-hero .profile-hero-right {
    flex: 1;
    height: 100%;
}

.intro-wrapper .hero-wrapper .profile-hero .profile-hero-left {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 3rem;
}

.intro-wrapper .hero-wrapper .profile-hero .profile-hero-left .profile-image-card-wrapper {
    width: 100%;
    max-width: 28.438rem;
    position: relative;
}

.intro-wrapper .hero-wrapper .profile-hero .profile-hero-left .profile-image-card-wrapper .profile-card {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
}

.intro-wrapper .hero-wrapper .profile-hero .profile-hero-left .profile-image-card-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
    display: block;
    clip-path: polygon(
        0% 94.2%,
        0% 0%,
        99.1% 0%,
        99.1% 6.2%,
        100% 7.1%,
        100% 100%,
        6.1% 100%,
        0% 94.2%
    );
}

.intro-wrapper .hero-wrapper .profile-hero .profile-hero-left .profile-image-card-wrapper svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.intro-wrapper .hero-wrapper .profile-hero .profile-hero-right .profile-hero-right-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.intro-wrapper .hero-wrapper .profile-hero .profile-hero-right .profile-hero-right-bottom {
    display: flex;
    margin-top: 0.5rem;
    height: 100%;
}

.intro-wrapper .hero-wrapper .profile-hero .profile-hero-right .profile-hero-right-bottom .profile-hero-right-bottom-line-2 {
    width: 0.5px;
    height: 100%;
    margin-left: 0.7rem;
    background-color: #fff;
}

.intro-wrapper .hero-wrapper .profile-hero .profile-hero-right .profile-hero-right-bottom .profile-hero-right-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5rem;
}

.intro-wrapper .hero-wrapper .profile-hero .profile-hero-right .profile-hero-right-wrapper .profile-hero-right-line {
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

.intro-wrapper .hero-wrapper .profile-hero .profile-hero-right .profile-hero-right-wrapper .line-2 {
    background-color: #fff;
    width: 0.5px;
    height: 100%;
}

.intro-wrapper .hero-wrapper .profile-hero .profile-hero-right .profile-hero-right-wrapper .profile-hero-right-line span:first-of-type {
    color: #fff;
    margin-right: 0.5rem;
}

.intro-wrapper .hero-wrapper .profile-hero .profile-hero-right .profile-hero-right-wrapper .profile-hero-right-line span:last-of-type {
    color: #fff;
    font-family: var(--geist-mono-font);
    font-size: 0.7rem;
    margin-left: 0.5rem;
    white-space: nowrap;
}

.intro-wrapper .hero-wrapper .profile-hero .profile-hero-right .profile-hero-right-wrapper .profile-hero-right-line span:last-of-type img {
    margin-right: 0.45rem;
    max-width: 100%;
}

.intro-wrapper .hero-wrapper .profile-hero .profile-hero-right .profile-hero-right-wrapper .profile-hero-right-line .line {
    background-color: #fff;
    height: 0.5px;
    width: 46%;
}

.intro-wrapper .hero-wrapper .profile-hero .profile-hero-right .profile-hero-right-wrapper .me p {
    color: #fff;
    font-family: var(--geist-mono-font);
    width: 25rem;
    line-height: 1.5;
    font-size: clamp(0.7rem, 2vw, 1.1rem);
}

.intro-wrapper .hero-wrapper .profile-hero .profile-hero-right .profile-hero-right-wrapper .profile-hero-btn {
    margin-top: 2rem;
}

.intro-wrapper .hero-wrapper .profile-hero .profile-hero-right .profile-hero-right-wrapper .profile-hero-btn a {
    padding: 0.75rem 1rem;
    font-size: 0.85rem;
    border-radius: var(--border-radius);
    font-family: var(--geist-mono-font);
    cursor: pointer;
    text-decoration: none;
}

.intro-wrapper .hero-wrapper .profile-hero .profile-hero-right .profile-hero-right-wrapper .profile-hero-btn .get-in-touch {
    background-color: #fff;
    color: #000;
}

.intro-wrapper .hero-wrapper .profile-hero .profile-hero-right .profile-hero-right-wrapper .profile-hero-btn .view-projects {
    border: 1px solid var(--stroke-color);
    background-color: var(--card-background-color);
    color: #fff;
}

@media screen and (max-width: 1040px) {
    .intro-wrapper .hero-wrapper .hero-header-wrapper {
        align-items: center;
        justify-content: center;
    }

    .intro-wrapper .hero-wrapper .hero-header-wrapper .is-first h1,
    .intro-wrapper .hero-wrapper .hero-header-wrapper .is-middle,
    .intro-wrapper .hero-wrapper .hero-header-wrapper .is-last {
        font-size: clamp(3.5rem, 5vw + 0.5rem, 4rem);
    }

    .intro-wrapper .hero-wrapper .profile-hero {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin-top: 1rem;
        height: auto;
    }

    .intro-wrapper .hero-wrapper .profile-hero .profile-hero-left {
        justify-content: center; 
        align-items: center;
        margin-right: 0;         
        width: 100%;
    }

    .intro-wrapper .hero-wrapper .profile-hero .profile-hero-right {
        width: 100%;
        display: flex;
        justify-content: center; 
        align-items: center;   
    }

    .intro-wrapper .hero-wrapper .profile-hero .profile-hero-left .profile-image-card-wrapper {
        max-width: 40rem;       
        margin: 0 auto;
        width: 90%;
    }

    .intro-wrapper .hero-wrapper .profile-hero .profile-hero-right .profile-hero-right-bottom {
        display: flex;
        flex-direction: column;  
        align-items: center;     
        justify-content: center;
        width: 100%;
        max-width: 900px;        
        height: auto;
        gap: 1rem;
    }

    .intro-wrapper .hero-wrapper .profile-hero .profile-hero-right .profile-hero-right-bottom .profile-hero-right-bottom-line-2 {
        display: none;
    }

    .intro-wrapper .hero-wrapper .profile-hero .profile-hero-right .profile-hero-right-wrapper .me p {
        width: 90%;
        max-width: 64ch;
        font-size: clamp(0.8rem, 2vw, 1.05rem);
    }

    .intro-wrapper .hero-wrapper .profile-hero .profile-hero-right .profile-hero-right-wrapper .profile-hero-btn {
        display: flex;
        gap: 1rem;
        margin-top: 1.1rem;
    }

    .intro-wrapper .hero-wrapper .profile-hero .profile-hero-right .profile-hero-right-bottom .profile-hero-right-bottom-line-2 {
        display: none;
    }

    .intro-wrapper .hero-wrapper .profile-hero .profile-hero-right .profile-hero-right-bottom .profile-hero-right-me {
        padding-left: 0.3rem;
    }

    .intro-wrapper .hero-wrapper .profile-hero .profile-hero-left .profile-image-card-wrapper {
        max-width: 40rem;
    }

    .intro-wrapper .hero-wrapper .profile-hero .profile-hero-right .profile-hero-right-wrapper .profile-hero-right-line .line {
        width: 65%;
        margin-right: 1rem;
    }

    .intro-wrapper .hero-wrapper .profile-hero .profile-hero-right .profile-hero-right-wrapper .profile-hero-right-line span:last-of-type {
        margin-left: 0;
    }
}

@media screen and (max-width: 768px) {
    .intro-wrapper .hero-wrapper .profile-hero .profile-hero-left .profile-image-card-wrapper {
        max-width: 36.5rem;       
    }
}

@media screen and (max-width: 480px) {
    .intro-wrapper .hero-wrapper .profile-hero .profile-hero-left {
        margin-left: 0;
    }

    .intro-wrapper .hero-wrapper .profile-hero .profile-hero-left .profile-image-card-wrapper {
        max-width: 23rem;
    }

    .intro-wrapper .hero-wrapper .hero-header-wrapper .is-first h1,
    .intro-wrapper .hero-wrapper .hero-header-wrapper .is-middle,
    .intro-wrapper .hero-wrapper .hero-header-wrapper .is-last {
        font-size: 2.2rem;
    }

    .intro-wrapper .hero-wrapper .hero-header-wrapper .is-first div {
        font-size: 0.5rem;
        letter-spacing: 0.15rem;
    }

    .intro-wrapper .hero-wrapper .hero-header-wrapper .is-last {
        margin-left: 12.5rem;
    }

    .intro-wrapper .hero-wrapper .hero-header-wrapper .is-first {
        padding-right: 5rem;
    }

    .intro-wrapper .hero-wrapper .hero-header-wrapper .is-first h1 {
        margin-top: 6.8rem;
        margin-left: 2rem;
    }

    .intro-wrapper .hero-wrapper .hero-header-wrapper .is-middle {
        margin-left: -5rem;
    }

    .intro-wrapper .hero-wrapper .profile-hero .profile-hero-right .profile-hero-right-wrapper {
        justify-content: center;
    }

    .intro-wrapper .hero-wrapper .profile-hero .profile-hero-right .profile-hero-right-wrapper .profile-hero-right-line .line {
        width: 50%;
        margin-right: 1rem;
    }

    .intro-wrapper .hero-wrapper .profile-hero .profile-hero-right .profile-hero-right-wrapper .profile-hero-btn a {
        padding: 0.6rem 0.8rem;
        font-size: 0.75rem;
        border-radius: var(--border-radius);
        font-family: var(--geist-mono-font);
        cursor: pointer;
        text-decoration: none;
    }

    .intro-wrapper .hero-wrapper .profile-hero .profile-hero-right .profile-hero-right-wrapper .profile-hero-right-line span:last-of-type {
        font-size: 0.6rem;
    }

    .intro-wrapper .hero-wrapper .profile-hero .profile-hero-right .profile-hero-right-wrapper .profile-hero-right-line span:last-of-type img {
        width: 1.5rem;
    }

    .intro-wrapper .hero-wrapper .hero-header-wrapper .is-first h1 {
        margin-left: 0;
    }

     .intro-wrapper .hero-wrapper .profile-hero .profile-hero-right .profile-hero-right-wrapper .me p {
        font-size: 0.75rem;
        max-width: 51.5ch;
     }
}