:root {
    --background-color: #0A090F;
    --border-radius: 6px;
    --stroke-color: #333333;
    --card-background-color: #2626264a;
    --red-color: #EB0000;
    --blue-color: #1491FF;
    --text-color: #a3a3a3;
    --montserrat-font: 'Montserrat', sans-serif;
    --geist-mono-font: 'Geist Mono', sans-serif;
    --roboto-mono-font: 'Roboto Mono', sans-serif;
    --text-light-weight: lighter;
    --text-semi-bold: 600;
    --text-black-weight: 900;
    --text-regular: 400;
    --text-bold: bold;
    --text-medium: 500;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

body, html {
    height: 100vh;
    height: 100dvh;
    width: 100vw;
    width: 100dvw;
    background-color: var(--background-color);
    font-family: var(--geist-mono-font);
    scroll-behavior: smooth;
    overflow-x: hidden;
    min-width: 325px;
}

