:root {
    --background-color: #0A090F;
    --border-radius: 8px;
    --stroke: #333333;
    --card-background-color: rgba(38, 38, 38, 0.29);
    --red-color: #EB0000;
    --blue-color: #1491FF;
    --text-color: #a3a3a3;
    --montserrat-font: 'Montserrat', sans-serif;
    --geist-mono-font: 'Geist Mono', sans-serif;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    height: 100dvh;
    width: 100vw;
    width: 100dvw;
    background-color: var(--background-color);
    font-family: var(--geist-mono-font);
    scroll-behavior: smooth;
}