.skills-section {
    margin-top: 5rem;
    font-family: var(--geist-mono-font);
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #29292926;
    position: relative;
    max-width: 100%;
    min-height: 80vh;
    min-width: 50%;
}

.skills-section .skills-box {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 200px 200px var(--background-color);
}

.skills-section .skill-header {
    position: absolute;
    padding-left: 17%;
    padding-top: 2rem;
    z-index: 999;
}

.skills-section .skill-header h2 {
    color: #fff;
    margin-bottom: 0.5rem;
}

.skills-section .skill-header h2 span {
    color: var(--red-color);
    margin-left: -0.8rem;
}

.skills-section .skill-header p {
    color: #cacaca;
    max-width: 53%;
}

.skills-section .tech-column {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.8rem;
    align-items: center;
}

.skills-section .tech-column .tech-row {
    display: flex;
    gap: 2.5rem;
    width: 100%;
}

.skills-section .tech-column .tech-row:nth-child(even) {
    margin-left: -7rem;
}

.skills-section .more {
    color: var(--text-color);
    position: absolute;
    text-align: center;
    bottom: 1rem;
}

.skills-section .tech-column .tech-card {
    background-color: var(--card-background-color);
    border: 1px solid var(--stroke-color);
    border-radius: 12px;
    min-width: 80px;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: box-shadow 0.4s ease, transform 0.3s ease;
}

.skills-section .tech-column .tech-card i {
    font-size: 2rem;
    padding: 0.4rem;
}

.skills-section .tech-column .tech-card .sql-server {
    width: 2.2rem;
}

.skills-section .tech-column .tech-card .devicon-notion-plain {
    color: #fff;
}

.skills-section .tech-column .tech-card .next {
    width: 2.3rem;
}

.skills-section .tech-column .tech-card .figma {
    width: 1.9rem;
}

.skills-section .tech-column .tech-card .ts  {
    width: 2.2rem;
    border-radius: 4px;
}

.skills-section .tech-column .tech-card .angular {
    width: 2.2rem;
}

.skills-section .tech-column .tech-card .devicon-dotnetcore-plain {
    font-size: 2.4rem;
}

.skills-section .tech-column .tech-card .devicon-react-original {
    font-size: 2.25rem;
}

.skills-section .tech-column .tech-card .eraser {
    width: 2.3rem;
}

.skills-section .tech-column .tech-card .sql {
    width: 2.4rem;
}

.skills-section .tech-column .tech-card .html,
.skills-section .tech-column .tech-card .css {
    width: 2.3rem;
}

.skills-section .tech-column .tech-card .node-js {
    width: 2.4rem;
}

.skills-section .tech-column .tech-card .devicon-javascript-plain {
    border-radius: 8px;
}

@media screen and (max-width: 1285.60px) {
    .skills-section .skill-header {
        padding-left: 12%;
    }

    .skills-section .skill-header p {
        max-width: 70%;
    }

    .skills-section .tech-column .tech-row {
        justify-content: center; 
    }
    
    .skills-section .tech-column .tech-row:nth-child(even) {
        margin-left: 0;
    }
}

@media screen and (max-width: 1040px) {
    .skills-section .skill-header {
        padding-left: 18.5%;
    }

    .skills-section .tech-column .tech-row {
        gap: 1.5rem; 
    }

    .skills-section .skill-header p {
        max-width: 90%;
    }
}

@media screen and (max-width: 960px) {
    .skills-section .tech-column .tech-card {
        min-width: 70px; 
        min-height: 70px;
    }
    
    .skills-section .tech-column .tech-card i {
        font-size: 1.75rem; 
    }

    .skills-section .tech-column .tech-card img {
        width: 1.6rem;
    }
}

@media screen and (max-width: 768px) {
    .skills-section .skill-header {
        padding-left: 15%;
    }

    .skills-section .tech-column {
        gap: 1.2rem;
    }

    .skills-section .tech-column .tech-row {
        gap: 0.8rem; 
    }
}

@media screen and (max-width: 480px) {
    .skills-section .skill-header {
        padding: 0 7%;
    }

    .skills-section .skill-header h2 {
        font-size: 1rem;
    }

    .skills-section .skill-header p {
        font-size: 0.6rem;
    }

    .skills-section .skills-box {
        box-shadow: inset 0 0 200px 120px var(--background-color);
    }

    .skills-section .tech-column {
        gap: 0.7rem;
        padding-right: 2.7rem !important;
    }

    .skills-section .tech-column .tech-card {
        min-width: 40px; 
        min-height: 40px;
        border-radius: 8px;
    }
    
    .skills-section .tech-column .tech-card i {
        font-size: 1.2rem; 
    }

    .skills-section .tech-column .tech-card img {
        width: 1.3rem !important;
    }

    .skills-section .tech-column .tech-card .devicon-dotnetcore-plain {
        font-size: 1.6rem;
    }

    .skills-section .tech-column .tech-card .devicon-react-original {
        font-size: 1.5rem;
    }
}